@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2&display=swap');
* {
    margin: 0;
    padding: 0;
}

.dark-mode {
    background-color: black !important;
    color: white !important;
}

.nav-image {
    width: 38px;
    filter: invert(100%);
    margin-left: 10px;
    cursor: pointer;
}

.navbar-toggler {
    border: 2px solid white !important;
}


.fix {
    display: flex;
    justify-content: right;
}


#clock {
    color: white;
    font-size: 2rem;
}

#datebl {
    font-size: 1.3rem;
}


.font-size {
    font-size: 20px;
}

.customize-dark {
    background-color: rgb(22, 22, 49);
    padding: 30px;
    border: 1px solid transparent;
    border-radius: 20px;
    margin-top: 15px;
    transition: .4s all ease-in-out;
    position: relative;
    animation: upanimation .7s ease-in-out;
}
.animate{
    position: relative;
    animation: upanimation .7s ease-in-out;
}
.dowAnimation{
    animation: downAnimation .7s ease-in-out;
}
.customize-dark:hover{
    transform: scale(1.02, 1.02);
}
.custom-button {
    color: white;
    background-color: rgb(5, 5, 172);
    padding: 10px 20px;
    border: 1px solid transparent;
    border-radius: 20px;
    transition: .5s all ease-in-out;
    outline: none !important;
}
.custom-button-danger{
    background-color: rgb(195, 1, 1) !important;
    margin: 0px 5px;
}
.custom-button:hover{
    background-color: rgb(1, 1, 90);
}
.custom-button-danger:hover{
    background-color: rgb(117, 2, 2) !important;
}
.btn-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.card{
    background-color: transparent !important;
}
.anchor{
    text-decoration: none;
    color: white !important;
}
.animh2{
    position: relative;
    animation: upanimation .7s ease-in-out;
}
/* routine css  */

th{
    color: white !important;
}
td a {
    text-decoration: none;
    font-size: 20px;
}

td a:hover {
    text-decoration: underline;
    color: white;
    transition-property: all;
    transition-duration: 1s;
}
.routinedate{
   font-weight: bold; 
   color: white !important;
}
.rdate p{
    margin-bottom: 0px !important;
}
.minhe{
    min-height: 50vh;
}
.user-box{
    position: relative;
}
.user-box input{
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}
.timeInput{
    display: flex;
}
.tiformat{
    padding: 10px;
    background-color: rgb(22, 22, 49);
    color: #03e9f4;
    width: 65px;
    height: 45px;
    margin-right: 20px;
}
.timeInput .user-box input{
    width: 80%;
}
.morecss{
    width: auto;
    height: auto;
    margin-right: 20px;
}
.user-box label{
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}
.user-box input:focus ~ label{
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
}
.daysradio{
    display: flex;
    flex-direction: column;
}
.inpucss input{
    margin: 0px 10px;
    width: 20px;
    height: 20px;
    transition: .5s all ease-in-out;
}
.daysradio input:hover{
    cursor: pointer;
}
.checkboxes{
    padding: 5px 0px;
    display: flex;
}
/* syallbus css */
.syllabus p{
    margin-top: 15px;
    margin-bottom: 0px;
    font-family: 'Baloo Da 2', cursive;
    font-size: 20px;
}
.download-button{
    margin: 30px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* animations */

@keyframes upanimation{
    from{
        opacity: 0;
        top: 250px;
    } 
    to{
        opacity: 1;
        top: 0px;
    }
}

@keyframes downAnimation {
    from{
        bottom: 0px;
        opacity: 1;
    }
    to{
        bottom: 250px;
        opacity: 0;
    }
}
/* resposive */
@media only screen and (max-width : 410px) {
    .timeInput .user-box input {
        width: 125%;
    }
}